
.maincontainer{
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
    background-color: black;
}

.input, .selection, .output, .convert{
    margin: auto;
    width: 60%;
}

.btn{
    width: 60%;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.input input{
    width: 60%;
    height: 40px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-color: black;
}

#select{
    width: 60%;
    height: 40px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

#otp{
    width: 60%;
}

.output p{
    color: white;
    font-size: 2rem;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 20px;
}

.btn{
    height: 40px;
    font-size: 2rem;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.input label{
    color: white;
    font-size: 2rem;
}

.selection label{
    color: white;
    font-size: 2rem;
}

input[type="number"]
{
    font-size:2rem;
    color: white;
    background-color: black;
}

select{
    font-size: 2rem;
    color: white;
    background-color: black;
    border-color: black;
}

option{
    font-size: 2rem;
    color: white;
    background-color: black;
    border-color: black;
}

.btn:hover{
    transform: scale(1.15);
    color: yellow;
    background: red;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
    transition: ease 0.2s;
}

.footer{
    text-align: center;
}

