
.main{
    height: 350px;
    width: 100%;
    border-radius: 15px;
    background-image: url(images/bgimage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bus{
    height: 300px;
    width: 100%;
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.busimg{
    text-align: center;
    margin: auto;
    /*background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(50px);*/
}

.busimg:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.carimg:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.flightimg:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.car{
    height: 300px;
    width: 100%;
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.carimg{
    text-align: center;
    margin: auto;
}

.flight{
    height: 300px;
    width: 100%;
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.flightimg{
    text-align: center;
    margin: auto;
}

.slideshow{
    height: 200px;
    width: 100%;
    border: 4px solid red;
}

.footer{
    height: 200px;
    width: 100%;
}

.maincontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.maintext{
    text-align: center;
}

.exp_button{
    text-align: center;
}

.top
{
    display: flex;
    justify-content: space-between;
}

.button{
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    width: 20%;
    border-color: yellow;
}

.button:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.busbtn:hover:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.carbtn:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.flightbtn:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.maintext{
    color: white;
    font-size: 20px;
}

.button:hover span{
    max-width: 300px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.con1{
    background-color: navy;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}
.con2{
    background-color: blue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}
.con3{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.brands{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    grid-gap: 30px;
    padding: 30px;
}

.l1, .l2, .l3, .l4, .l5, .l6{
    text-align: center;
    margin: auto;
}

.l1:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.l2:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.l3:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.l4:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.l5:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}
.l6:hover{
    transform: scale(1.2,1.2);
    transition: ease 0.2s;
}

.brands img{
    height: 100px;
    width: 300px;
 
}

.heading{
    text-align: center;
}

.busbtn{
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    width: 20%;
    border-color: yellow;
}

.carbtn{
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    width: 20%;
    border-color: yellow;
}

.flightbtn{
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    width: 20%;
    border-color: yellow;
}

.businfo li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.businfo p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.btn1{
    display: flex;
    justify-content: center;
}

.carinfo li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.carinfo p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.btn2{
    display: flex;
    justify-content: center;
}

.flightinfo li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.flightinfo p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

.btn3{
    display: flex;
    justify-content: center;
}

.brands{
    background: url('brands/bandbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.end{
    text-align: center;
}