*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    margin-left: 1rem;
}

.home, .education, .projects, .contact{
    border: 2px solid;
    width: 2rem;
    padding: 1rem;
    height: 2.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.home{
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
}

.contact{
    border-bottom-right-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
}

.home:hover{
    transform: scale(1.1);
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
    transition: ease 0.2s;
}
.education:hover{
    transform: scale(1.11);
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
    transition: ease 0.2s;
}
.projects:hover{
    transform: scale(1.11);
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
    transition: ease 0.2s;
}
.contact:hover{
    transform: scale(1.11);
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.5s;
    transition: ease 0.2s;
}

.homecont, .educont, .procont, .contactcont{
    height: 100vh;
    width: 100vw;
}

/* TABS BG COLOR*/
.homecont{
    background-color: black;
    height: 100vh;
}

.educont{
    background-color: black;
    height: 100vh;
}

.procont{
    background-color: black;
    height: 100vh;
}

.contactcont{
    background-color: black;
    height: 100vh;
}

/*HOME TAB DESIGN LAYOUT USING CSS GRID*/
.homecont{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 6.25rem 1fr 6.25rem;
    row-gap: 1.25rem;
    column-gap: 1.25rem;
}

.head, .data, .pic, .social{
    /*border: 2px solid red;*/
}

.head{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    font-size: 1.875rem;
    margin: auto;
    color: white;

    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}

.social{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}

.pic{
    margin: auto;
    place-items: center;

    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}

.social a{
    color: white;
    margin: 1.25rem;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
}

.data{
    font-size: 1.563rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;

    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px orange;
}

/*HOME TAB EDITING COMPLETE*/



/*##########################################################*/


/*EDU TAG EDIT START*/
.educont{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 6.25rem 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.eduhead, .school, .jrclg, .engg, .skills{
    border: 2px solid yellow;
    color: white;
    box-shadow: 0 0 10px green, 0 0 40px green, 0 0 80px green;
}

.skills{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.eduhead{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    margin: auto;
    font-size: 1.875rem;
}

.jrclg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.engg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

/*EDU TAB EDIT END*/

/*####################################################################*/

/*PRO TAB EDIT START*/

.procont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6rem 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.prohead, .pro1, .pro2, .pro3, .pro4, .pro5, .pro6, .pro7, .pro8,.pro9{
    border: 2px solid red;
    color: white;
    box-shadow: 0 0 10px blue, 0 0 40px blue, 0 0 80px blue;
}

.pro1 a, .pro2 a, .pro3 a, .pro4 a, .pro5 a, .pro6 a, .pro7 a, .pro8 a,.pro9 a{
    color: blue;
}

.pro1, .pro2, .pro3, .pro4, .pro5, .pro6, .pro7, .pro8,.pro9{
    background-color: yellow;
    color: red;
}

.prohead{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.875rem;
    margin: auto;
}

.navheader {
    background-color: black;
    width: 22px;
    height: 22px;
    position: fixed;
    z-index: 10;
}

.sidebarIconToggle{
    width: 22px;
    height: 22px;
    position: fixed;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
}

#openSidebarMenu:checked ~ #sidebarMenu{
    transform : translateX(0px)
}

#sidebarMenu{
    transform: translateX(-100px);
    transition: transform 250ms ease-in-out;
}

.spinner {
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}
.spinner.middle,.spinner.bottom{
    margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}

input#openSidebarMenu{
    display: none;
}

/*CONTACT US FORM*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
    width: 60%;
    height: 75%;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

.contactcont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
}

.data a{
    display: block;
    background-color: #00A9D4;
    color: #FFF;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 220px;
    text-align: center;
    font-size: 20px;
}

.data a:hover{
    background-color: #00729D;
}